<link rel="stylesheet" href="/css/home.css">
<main id="home">
   
    <% if(locals.user){%>
        <div id="feed-post">
            <section>
                <h4>Posts</h4>
                <form action="/posts/create" method="post" id="new-post">
                    <textarea name="content"  cols="30" rows="4" placeholder="write here......"></textarea>
                    <button type="submit">post</button>
                </form>
            </section>
    
        </div>
    <%}%>
    <div id="post-contentainer">

        <% for(post of  posts) { %>
            <div id="post-display">
                <p>
                <b><%= post.content %></b>
                <small>~<%=post.user.name%></small>
            </p>
            </div>
            <% if(locals.user){ %>
                <div id="post-comment-form">
                    <form action="/comments/create" method="POST">
                        <input type="text" name="content" placeholder="write comment here...." required>
                        <input type="hidden" name="post" value="<%= post._id %>">
                        <input type="submit" value="add comment">
                    </form>
                </div>
                <%}%>
            <div id="post-comment-list">
                <% for(comment of  post.comments) { %>
                    <ul id="post-comment-<%=post._id %>"></ul>
                    <p>
                        <%= comment.content %>
                        <small>~<%=comment.user.name%></small>
                    </p>
                <% } %>
            </div>
        <% } %>    
        
    </div>
</main>