<html>
    <head>
        <title>Codial |<%= title %></title>
        <%- style %>
    </head>
    <body>
                                                    <!-- <header>
                                                        <H1>This is a header</H1>
                                                    </header> -->
        <%- include('_header'); %>
        

        <%- body %>                                                        <!-- <footer>
                                                                    <h1>This is footer</h1>
                                                                </footer> -->
        <%- include('_footer'); %>

        <%- script %>
    </body>
</html>