<h1>This is user profile</h1>

<% if(user.id==user_profile.id){%>
    <form action="/users/update/<%=user.id%>" method="post">
        <input type="text" name="name" value="<%=user_profile.name%>" required>
        <input type="email" name="email" value="<%=user_profile.email%>" required>
        <input type="submit" value="Update">
    </form>
<%}else{%> 

<h1><%=user_profile.name%></h1>
<h1><%=user_profile.email%></h1>


<%}%>